
.Drawer{
  background-color: blueviolet;
}

.Fab {
  position: fixed;

}


.userlist { 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;
}
.Adduser{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 100;
  visibility: visible;
}
.listinguser{
  max-width: 10;

  display: flex;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  /* align-items: stretch; */
  gap:20px;
  margin: 2%;
  padding: 30px;
  flex-wrap: wrap;
}
#searchbox {
  margin-right: auto;
   margin-left: auto;
   margin-top: 40px;
  /*margin-right: auto; */
  display: table;
 
  /* margin: auto;
  width: 30%;
  padding: 10px; */
}

#fab{
  visibility: hidden;
}
#stepperstyle{
 
  margin-left: auto;
  margin-right: auto;
  display: table;
}
#insidestepper{
  
  width: 600px;
}
#PDstyles Button{
  margin-right: auto;
  margin-left: auto;
  display: table;
}



@media only screen and (max-width: 600px) {
  .listinguser {
    margin-left: 70px;
  }
  #fab{
    visibility: visible;
  }
  .Adduser{
    visibility: hidden;
  }
  #insidestepper{
  
    width: 450px;

  }
  
}
@media only screen and (min-width: 600px) and (max-width:900px) {
  .listinguser {
    margin-left: 170px;
  }
}
@media only screen and (min-width: 1000px) and (max-device-width: 1104px) {
  .listinguser {
    margin-left: 200px;
  }
}
/*
label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}*/